@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  font-family: 'Roboto';
  font-size: 18px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Nav Styling */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 10px 10vh 10px 10vh;
}

.nav p {
  font-size: 24px;
  color: #F9FAF8;

}

.nav a {
  color: #E5E7EB;
  text-decoration: none;
  padding-left: 18px;
}

.nav > ul {
  margin-left: auto;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}


/* Hero Styling */

.content {
  background-color: #1F2937;
;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  padding: 50px;
  align-self: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero button {
  background-color: #3882f6;
  border-radius: 5px;
  color: #F9FAF8;
  padding: 5px 25px;
  box-shadow: none;

}

.herotext { flex:1; }

.imgplaceholder {
  flex:1;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 300px;
}

/* Cards Styling */

.cards {
  justify-content: center;
  background-color: #F9FAF8;
  text-align: center;
}

.cardContainer{
  display:flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 100px;
}

.cardsTitle {
  display: block;
  font-size: 36px;
  font-weight:bolder;
  color: #1F2937;
  margin-top: 50px; 
  margin-bottom: 50px;
}

.card {
  max-width: 150px;
}

.card img {
  border: 5px solid #3882f6;
  border-radius: 25px;
  width: 145px;
  height: 145px;
  margin-bottom: 8px;
}
.card > .text{
  font-size: 18px;

}

/* quote Styling */

.quote {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
}

.quoteContainer {
  width:600px;
  margin: 100px 0;
}

.quoteText {
  align-self: center;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}

.qAuthor { 
  align-self: flex-end;
  margin-left: auto;
}

/* Call TO Action Styling */

.callToAction{
  display: flex;
  justify-content: center;
  background-color: #F9FAF8;
}

.ctaContainer{
  display:flex;
  align-self: center;
  width: 75%;
  background-color: #3882f6;
  border-radius: 5px;
  margin: 100px 0;
  padding: 20px 50px;
  gap: 50px;
}

.ctaText h3,p{
  color: white;
}

.ctaButton {
  align-self: center;
}


/* Footer Styling */

.footer {
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #1F2937;
  font-size: 24px;
  color: #F9FAF8;
}